html,
body {
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
}

body {
	font-family: Helvetica, sans-serif;
}
li {
	margin-bottom: 5px;
}

.search-container {
	margin: 20px auto 0 20px;
	padding: 30px;
}
.container {
	background-color: #fff;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.song-info {
	flex: 1;
	display: flex;
}
.side1 {
	flex: 1;
}
.side2 {
	flex: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cside2 {
	flex: 3;
	display: flex;
	align-items: center;
	justify-content: center;
}
.side3 {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.song-config {
	background-color: rgb(72, 72, 72);
	display: flex;
	flex-direction: row;
}
.fside1 {
	flex: 1;
}
.fside2 {
	flex: 3;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.fside3 {
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}
.song-artist {
	flex: 1;
	text-align: center;
}
.fixed-size {
	padding: 10px;
}
.fixed-size2 {
	padding: 5px;
}
#progress-bar {
	min-width: 100%;
	margin: 0;
}
