html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: Helvetica, sans-serif;
}
li {
	margin-bottom: 5px;
}
.search-container {
	margin: 20px auto 0 20px;
	padding: 30px;
}
.container {
	background-color: #fff;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.song-info {
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.side1 {
	flex: 1;
}
.side2 {
	flex: 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.side3 {
	flex: 1;
}
.song-config {
	position: relative;
	background-color: rgb(72, 72, 72);
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.song-artist {
	padding-top: 50px;
	text-align: center;
}
.fixed-size {
	width: 50px;
	height: 50px;
}
.fixed-size2 {
	width: 20px;
	height: 20px;
	padding-right: 5px;
}
.slider {
	min-width: 100%;
	padding: 0;
	margin: 0;
}
#suffle-button {
	position: absolute;
	right: 50px;
}

#list-button {
	position: absolute;
	right: 0;
}
