.main{
    font-size: large;
    font-family: Verdana;
    margin: 0;
}

.container-flex {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
}

.search-panel{
    padding: 40px;
    /* background-color: palegreen; */
    flex : 1;
}

.fa-2x{
    color: cornflowerblue;
    padding: 10px;
}

.center-panel{
    /* background-color: paleturquoise; */
    flex: 8;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.empty-panel {
    flex: 1;
}

.doodle-panel {
    /* background-color: red; */
    flex: 1;
    text-align: center;
}

.pic {
    max-width: 720px;
    max-height: 600px;
    /* height: 500px; */
    /* margin: auto; */
}

.playlist-panel{
    /* background-color: seagreen; */
    padding: 50px;
    text-align: end;
    flex: 1;
}

.artist {
    font-size: small;
}

.info-panel{
    /* background-color: papayawhip; */
    flex: 3;
    text-align: center;
    /* vertical-align: middle; */
    align-items: center;
}

.currsong {
    font-size: x-large;
    font-weight: bold;
    display: inline-block;
    position: relative;
}

.likebutton {
    color: cornflowerblue;
    position: absolute;
    top: -9px;
    left: -70px;
}

.currartist {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.control-panel{
    display: flex;
    padding: 15px;
    background-color: #353434;
    /* color: #d47237; */
    flex: 1;
    align-items: center;
}

.control-panel-left {
    flex:1;
}

.control-panel-center {
    flex: 1;
    /* background-color: crimson; */
    text-align: center;
    /* vertical-align: middle; */
}

.control-panel-right {
    flex: 1;
    /* background-color: darkblue; */
    text-align: end;
}


